on post-fs-data
    mkdir /data/vendor 0777 nfc nfc
    mkdir /data/vendor/nfc 0777 nfc nfc
    mkdir /data/vendor/nfc/param 0777 nfc nfc
    chmod 0660 /dev/pn557
    chown nfc nfc /dev/pn557

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service.pn8x
    override
    class hal
    user nfc
    group nfc
    disabled

on boot && property:ro.boot.product.hardware.sku=nfc
    enable vendor.nfc_hal_service

# Make sure the service is never started
on boot && property:ro.boot.product.hardware.sku=
    stop vendor.nfc_hal_service